h1{
color: green;
}
h3{
    color: rgb(146, 222, 32);
}
body{
    background-color: rgb(236, 241, 175);
    margin: 0;
    padding: 0;
}
main {
    padding: 16px;
}
img{
    height: 200px;
}
nav{
    border-bottom: 1px black;
    padding: 16px;
}

#t2{

    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 400px 400px;
}

footer{
    background-color: rgb(70, 147, 106);
    padding: 20px;
    font-size: larger;
}
#saiyan{
    color: white;
    font-size: medium;
    display: block;
    background-color: rgb(32, 69, 37);
    padding: 10px 10px;
    text-decoration: none;
}

.II{
    background-color: aquamarine;
    text-decoration: none;
    box-shadow: 10px 5px 5px rgb(255, 140, 0);
}

img{
    box-shadow: 10px 5px 5px rgb(255, 140, 0);
}

div{
    background-color: rgb(78, 123, 107);
}
.I{
    color: red;
    background-color: #f5e745;
    width: 50px;
    box-shadow: 10px 5px 5px orange;
    padding: 10px 20px;
}

tr:nth-child(odd){
    background-color: rgb(72, 166, 40);
}
